@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --light_blue:#66FCF1;
    --white: white;
    
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body{
    background-color:#333 ;
}

.title{
    color: var(--light_blue);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
hr{
    height: 1px;
    border-width: 0;
    background-color: rgb(117, 113, 113);
}
img{
   display: block;
  margin-left: 50px;
   margin-right: auto;
   margin-top: 45px;
   width: 700px;
   height: 400px;
   float: left;
}
.left{
    padding-left: 50px;
    float: left;
    color: white;
    margin-top: 110px;
}
.left ul li{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
}



.main_p{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    float: left;
    color: white;
    padding-bottom: 100px;
}



@media (max-width:400px){
    
    *{
        font-family: 'Nunito', sans-serif;
        margin:0; padding:0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none; border:none;
        text-transform: capitalize;
        transition: all .2s linear;
    }
    
    body{
        background-color:#333 ;
    }
    
    .title{
        color: var(--light_blue);
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    hr{
        height: 1px;
        border-width: 0;
        background-color: rgb(117, 113, 113);
    }
    img{
       display: block;
      margin-left: 10px;
       margin-right: 10px;
       margin-top: 45px;
       width: 380px;
       height: 200px;
      
    }
    .left{
        padding-left: 20px;
       
        color: white;
        margin-top: 20px;
    }
    .left ul li{
        margin-left: 20px;
        margin-top: 20px;
        font-size: 12px;
    }
    
    
    
    .main_p{
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
       
        color: white;
        padding-bottom: 100px;
    }
    
   
}